body {
    font-family: Roboto, Inter, san-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
}

.container,
.footer {
    background-color: #1f2937;
    padding: 15px 100px;
}

.header {
    display: flex; 
}

.hero-section {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.input {
    width: 80px;
}

ul {
    margin: 0px;
}

.links {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #f9faf8
}

.logo {
    width: 100px;
    height: 100px;
}

.placeholder {
    width: 300px;
    height: 150px;
    align-self: flex-end;
    /*margin-left: auto;*/
    /*align-self: flex-end;*/
}

img {
    width: 150px;
    height: 150px;
    /*align-self: flex-end;
    display: flex;*/
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

.input,
.call-to-action {
    background-color: #3882f6
}

.info {
    display: flex;
    padding: 0px 100px;
}

.info-random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.image-info {
    font-size: 18px;
    color: #1f2937;
}

.testimonials {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding: 50px 100px;
}

.footer {
    color: #e5e7eb;
}