body {
    font-family: Roboto, Inter, san-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
}

.container,
.footer {
    background-color: #1f2937;
    padding: 15px 100px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex; 
}

.hero-section {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    align-items: center;*/
}

.input,
.input-cta {
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
}

.input {
    /*border: o;*/
}

ul  {
    margin: 0px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8
}

.logo {
    width: 100px;
    height: 100px;
}

.placeholder {
    width: 300px;
    height: 150px;
    /*display: flex;*/
    align-self: flex-end;
    /*margin-left: auto;*/
}

img {
    width: 150px;
    height: 150px;
    /*align-items: center;
    display: flex;*/
}

.heading {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
    flex-wrap: wrap;
}

.input,
.call-to-action,
.input-cta {
    background-color: #3882f6;
    color: #E5E7EB;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.info-random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
}

.image-info {
    font-size: 18px;
    color: #1f2937;
    display: flex;
}

.testimonials {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding: 50px 250px;
    display: flex;
    flex-direction: column;
}

.source {
    align-self: flex-end;
}

.call-to-action {
    margin: 40px 150px;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.call-to-action div {
    font-weight: 900;
    font-size: 20px;
}

.input-cta {
    align-self: flex-end;
    border-color: #f9faf8;
    margin-top: auto;
}

.footer {
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}